header {
    height: 100vh;
	background-image: url(../../img/bg.jpg);
	background-position: center;
	background-size: cover;
	position: relative;

    h1 {
        position: absolute;
        width: 100%;
        text-align: center;
        top: 25%;
     
        font-size: 55px;
    }
    .header-container {
        position: absolute;
        text-align: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        p {
            font-size: 25px;
        }
    }
    
    .header-btn {
        margin-top: 30px;
        display: flex;
        gap: 12px;
        justify-content: left;
    }
  
}
